body {
  background-color: #ffebd5;
  height: 100%;
  width: 100%;
}


section {
  float: left;
  width: 70%;
  border-right: 2px solid black;
  margin-top: 100px;
}

.bloccogrande{
  display: flex;
  /*background-color: black;*/
  position: relative;
  top:-198px ;
}

#sfondocard1 {
  width: 413px;
  height: 300px;
  position: relative;
  left: 287px;
  top: -0;

  display: flex;
  flex-direction: row;
  align-items: last baseline;
}
.ColonnaS{
  order:1;
  margin-left: 10%;
  text-align: center;
}
.ColonnaD{
  order: 2;
  text-align: center;
}

#sfondocard2 {
  width: 272px;
  height: 300px;
  position: relative;
  left: 327px;
  top: -0px;

  display: flex;
  flex-direction: column-reverse;

}

#figlioA{
  order:2;
  display: flex;
  flex-direction: row;
  
}
#Centralee{
  order:1;
  text-align: center;
}
#ColonnaS2{
  margin-left: 6%;
  order: 1;
  text-align: center;
}
#ColonnaD2{
  order: 2;
  text-align: center;
  margin-left: 2%;

}





#sfondocard3 {
  width: 132px;
  height: 300px;
  position: relative;
  left: 370px;
  top: -0px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
#kw14{
  order:2;
}
#kw15{
  order:1;
}

.sfondocard
{
  background-color: #2c6ca3;
  background: linear-gradient(to top, #2c6ca3, 1%, #2c6ba300);

}




#immaginenote {

  position: relative;
  top: 30px;
  left: 90px;
  z-index: 1;
}

#titolo {
  position: relative;
  text-align: center;
  top: 0px;
}

#descrizione {
  position: relative;
  text-align: center;
  top: 0px;
  font-size: medium;
}

#testocentrale {
  position: relative;
  top: -100px;
  width: 1000px;
  height: 140px;
  font-size: smaller;
  background-color: #ffebd5;
  line-height: 15px;
  margin-left: 130px;
}
#TestoB{
    position: relative;
    top: -250px;
}

#spazio{
  height: 200px;
}