/*NAVBAR*/
body {
  background-color: #ffebd5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.formcontainer {
  display: flex;
  flex-direction: column;
}

#risultato {
  visibility: hidden;
  display: none;
  text-align: center;
}

#bottoneinvio {
  height: 100px;
  width: 10%;
  font-size: 20px;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
}

#domanda {
  width: 20%;
  height: 80px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 2%;
  /*border-color: lightgreen;*/
}

#titolo {
  font-size: 100px;
  text-align: center;
  margin-top: 5px;
}

.navbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: black;*/
}

#bgsinistra {
  position: relative;
  top: -0;
  left: -1%;
}

#bgdestra1 {
  position: relative;
  top: -0;
  left: -25.3%;
}

#bgdestra2 {
  position: relative;
  top: -0;
  left: -26%;
}

#cambiamusica {
  position: relative;
  margin-top: -0.73%;
  left: -20%;
  z-index: 1;
}

#logo {
  position: relative;
  margin-top: 0.8%;
  left: -45%;
}

#VaiQuiz{
  height: 8%;
  width: 8%;
  background-color: transparent;
  border: 0ch;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

#formQuiz{
  position: relative;
  margin-top: 2%;
  left: -60%;
}

/* SIDEBAR*/
aside {
  font-style: italic;
    padding-left: 20px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

aside ul {
  visibility: hidden;
  line-height: 5px;
  
  list-style-image: url("Content/images/nota3\ \(2\).png");
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

aside hr {
  width: 400px;
  margin: 1% out;
  color: gray;
}

#special {
  list-style: none;
}

#Generale {
  order: 1;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

#TitoloA {
  order: 1;

  display: flex;
  flex-direction: column;
  width: 40%;

  line-height: 0px;

  align-items: center;
  justify-content: center;
}

#IlRitmo {
  order: 1;
  line-height: 0px;
}

#Giusto {
  order: 2;
}

#notaIntonata {
  order: 2;
}

#BoxLista {
  order: 2;
}

/* CENTRAL*/

section {
  float: left;
  width: 70%;
  margin-top: 100px;
  border-right: 2px solid black;
  margin-top: 100px;
}

.bloccogrande{
  display: flex;
  /*background-color: black;*/
  position: relative;
  top:-198px ;
}

#sfondocard1 {
  width: 413px;
  height: 300px;
  position: relative;
  left: 287px;
  top: -0;

  display: flex;
  flex-direction: row;
  align-items: last baseline;
}

.ColonnaS{
  order:1;
  margin-left: 10%;
  text-align: center;
}

.ColonnaD{
  order: 2;
  text-align: center;
  margin-left: 5%;
}

#sfondocard2 {
  width: 272px;
  height: 300px;
  position: relative;
  left: 327px;
  top: -0px;

  display: flex;
  flex-direction: column-reverse;

}

#figlioA{
  order:2;
  display: flex;
  flex-direction: row;
  
}

#Centralee{
  order:1;
  text-align: center;
  align-items: flex-start;
}

#ColonnaS2{
  order: 1;
  text-align: center;
  margin-left: 2%;
}

#ColonnaD2{
  order: 2;
  text-align: center;
  margin-left: 6%;

}

#sfondocard3 {
  width: 132px;
  height: 300px;
  position: relative;
  left: 370px;
  top: -0px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
#kw14{
  order:2;
}
#kw15{
  order:1;
}

.sfondocard
{
  background-color: #2c6ca3;
  background: linear-gradient(to top, #2c6ca3, 1%, #2c6ba300);

}

#immaginenote {

  position: relative;
  top: 30px;
  left: 90px;
  z-index: 1;
}

#titolo {
  position: relative;
  text-align: center;
  top: 0px;
}

#descrizione {
  position: relative;
  text-align: center;
  top: 0px;
  font-size: medium;
}

#testocentrale {
  position: relative;
  top: -100px;
  width: 1000px;
  height: 140px;
  font-size: smaller;
  background-color: #ffebd5;
  line-height: 15px;
  margin-left: 130px;
}
#TestoB{
    position: relative;
    top: -250px;
}

/* FOOTER */

footer {
  display: block;
  clear: both;
  bottom: 0;

  height: 50%;
  width: 90%;

  padding-top: 35px;
  padding-right: 75px;
  padding-bottom: 35px;

  margin-bottom: 60px;
  margin-left: -10px;

  background-color: #383838;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background-image: url(Content/images/notetbtm.png), url(Content/images/notetop.png);
  background-repeat: repeat-x, repeat-x;
  background-position: -50% 100.5%, -50px -1px;
  background-size: 80%, 80%;
}

#footerbase {
  height: 25%;
  width: 156%;
  padding-top: 5%;
  margin-left: -10px;

}

footer div {
  display: block;
  float: left;
  width: 25%;
  height: 250px;

  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 2%;
}

#notastonata {
  height: 250px;
  width: auto;
}

#figlio1 {
  align-items: center;
  width: 200px;
}

#figlio2 {
  width: 50px;
  height: 115px;
  padding-top: 85px;
  padding-bottom: 50px;
}

#title {
  /*background-color: chocolate;*/
  color: white;
  /*position: relative;*/
  transform: rotate(-90deg);
  width: 250px;

  text-align: center;
  margin-left: -130px;

  font-size: 25px;
}

.flex-container {
  /*background-color: black;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 300px;
  height: 250px;
  margin-top: 20px;
}

footer ul {
  /*list-style-image: url(Content/images/nota3rp.png);*/
  list-style-image: url("Content/images/nota3r.png");
  line-height: 15px;

  font-size: 14px;
  text-align: left;
  align-items: flex-start;
  color: #ffebd5;
}

footer hr {
  margin-top: 3px;
  color: #ffebd5;
  list-style: none;
}

#listaF,
#listaC,
#listaD {
  visibility: hidden;

}


/* FORMATTAZIONE PAGINA CON FLEXBOX */

.padreAbsolute {

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#boxHeader {

  height: 30%;
}

#son1 {
  display: flex;
  flex-direction: row;

  height: 70%;
}

#son2 {
  order: 1;
  flex: 70%;
  display: flex;
  flex-direction: column;
}

#boxAside {
  order: 2;
  flex: 30%;
}

#boxSection {
  flex: 60%;
}

#boxFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 50%;
}