aside {
    width: 30%;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    font-style: italic;
  }

  body{
    background-color: #ffebd5; 
  }
  
#notaIntonata{
    position:relative;
    right: -200px;
    top: 20px;

}
#IlRitmoGiusto{
    position: relative;
    top: 180px;
    right:-90px;
    line-height: 8px
    
}
#titolo{
    height: 50 px ;
    width: 110px;
}
ul {
    line-height: 5px;
    list-style-image: url("Content/images/nota3\ \(2\).png");
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
hr{ 
    width: 400px;
    margin: 10px out;
}